<h1>RoCk! / PaPeR! / ScIsSoRs!</h1>
<h2>Sign in to play</h2>
<form action='name' method='post'>
  <label for='name'>
    Challenger name
    <input type='text' name='name'>
  </label>
  <input type='submit' value="Let's do this">
</form>
